<div class="comment">
  <h4>{{comment.username}}</h4>
  <h6>
    {{comment.commentContent}}
  </h6>
  <h5>{{comment.mood}}</h5>
  <button class="btn btn-danger" {{action 'delete' comment}}>Delete</button>
</div>
