<h3>New Comment</h3>
   <div>
     <form>
       <div class="form-group">
         <label class="sr-only" for="username">Username:</label>
         {{input value=username id="username" placeholder="Username"}}
       </div>

       <div class="form-group">
         <label class="sr-only" for="mood">Mood:</label>
         {{input value=mood id="mood" placeholder="Mood"}}
       </div>

       <div class="form-group">
         <label class="sr-only" for="content">Comment:</label>
         {{textarea cols="70" rows="5" value=content id="content" placeholder="Comment"}}
       </div>

       <button {{action 'save'}}>Save</button>
     </form>
   </div>
