<div class="container">
  <header class="jumbotron">
    <h1>The Foxhole</h1>
  </header>
  {{outlet}}
  <hr>
  <footer>
    {{#link-to 'index'}}Home{{/link-to}}<br>
    {{#link-to 'contact'}}Contact Us{{/link-to}}<br>
    {{#link-to 'about'}}About Us{{/link-to}}
  </footer>
</div>
