<div class="container">
  <header class="jumbotron">
    <h1>The Foxhole</h1>
  </header>
  <ul class="nav nav-tabs">
    <li role="presentation">{{#link-to 'index'}}Home{{/link-to}}</li>
    <li role="presentation">{{#link-to 'about'}}About{{/link-to}}</li>
    <li role="presentation">{{#link-to 'contact'}}Contact{{/link-to}}</li>
    <li role="presentation">{{#link-to 'new-post'}}New Case{{/link-to}}</li>
  </ul>
  {{outlet}}
</div>
